body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* style navbar */
.nav {
    width: 100%;
    height: 59px;
    margin-top: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 114px;
    margin-top: 8px;
}
a{
    text-decoration: none;
    padding: 23px;
    color: black;
}
a:hover {
    color: rgb(17, 199, 17);
}
.links{
    margin-right: 155px;
}
.btn-nav{
    position: relative;
    padding: 15px 11px;
    background-color: #43A046;
    border: none;
    color: white;
}
i{
    position: absolute;
    padding: 14.4px 15px;
    color: white;
    border: none;
    background-color: #43A046;
}
i:hover{
    background-color: rgb(85, 219, 85);
}
.btn-nav:hover {
    background-color: rgb(85, 219, 85);
}

/* End style navbar */

/* style section-1 */
.section-1{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}
.left{
    margin-top: 76px;
    margin-left: 90px;
}
h1{
    font-size: 55px;
    color: rgb(54, 54, 54);
}
p{
    color: rgb(54, 54, 54);
}
span {
    color: #43A046;
}
.btn-left{
    padding: 12px 19px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #43A046;
    margin-top: 12px;
}
.btn-left:hover{
    background-color: rgb(18, 161, 18);
}
.right {
    margin-top: 97px;
    margin-right: 155px;
}
/* End style section-1 */
/* section-two */
.section-2{
    width: 100%;
}
.top{
    text-align: center;
    margin-top: 50px;
}
.img{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
/* End section two */
/* section three */
.section-3{
    width: 100%;
    margin-top: 50px;
}
.text{
    text-align: center;
}
.parts{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
/* End section three */
/* section four */
.section-4{
    width: 100%;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* End section-4 */
/* section five */
.section-5{
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-2-1{
    position: relative;
    left: 100px;
}
.r-1{
    display: flex;
    margin: 30px;
}
.r-1 h2{
    position: relative;
    left: 15px;
}
.r-1 p{
    position: relative;
    top: 35px;
    right: 90px;
}
.r-2{
    display: flex;
    margin: 30px;
}
.r-2 h2{
    position: relative;
    left: 20px;
}
.r-2 p{
    position: relative;
    top: 35px;
    right: 65px;
}
.right-2-2{
    position: relative;
    right: 100px;
}
.r-3{
    display: flex;
    margin: 30px;
}
.r-3 h2{
    position: relative;
    left: 20px;
}
.r-3 p{
    position: relative;
    top: 35px;
    right: 50px;
}
.r-4{
    display: flex;
    margin: 30px;
}
.r-4 h2{
    position: relative;
    left: 20px;
}
.r-4 p{
    position: relative;
    top: 35px;
    right: 80px;
}
/* End section five */
/* section-6 */
.section-6{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.left-3{
    margin-top: 20px;
}