body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}
body::selection{
    background-color: #43A046;
    color: white;
}
/* style navbar */
.nav {
    width: 100%;
    height: 59px;
    margin-top: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 114px;
    margin-top: 8px;
}
a{
    text-decoration: none;
    padding: 23px;
    color: black;
}
a:hover {
    color: rgb(17, 199, 17);
}
.links{
    margin-right: 155px;
}
.btn-nav{
    position: relative;
    padding: 14.8px 11px;
    background-color: #43A046;
    border: none;
    color: white;
}
i{
    position: absolute;
    padding: 14.6px 15px;
    color: white;
    border: none;
    background-color: #43A046;
}
i:hover{
    background-color: rgb(85, 219, 85);
}
.btn-nav:hover {
    background-color: rgb(85, 219, 85);
}

/* End style navbar */

/* style section-1 */
.section-1{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}
.left{
    margin-top: 76px;
    margin-left: 90px;
}
h1{
    font-size: 55px;
    color: rgb(54, 54, 54);
}
p{
    color: rgb(54, 54, 54);
}
span {
    color: #43A046;
}
.btn-left{
    padding: 12px 19px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #43A046;
    margin-top: 12px;
}
.btn-left:hover{
    background-color: rgb(18, 161, 18);
}
.right {
    margin-top: 97px;
    margin-right: 155px;
}
/* End style section-1 */
/* section-two */
.section-2{
    width: 100%;
    margin-top: 43px;
}
.section-2 h2{
    font-size: 31px;
    color: rgb(54, 54, 54);
}
.top{
    text-align: center;
    margin-top: 50px;
}
.img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
/* End section two */
/* section three */
.section-3{
    width: 100%;
    margin-top: 79px;
}
.text{
    text-align: center;
}
.section-3 h2{
    font-size: 35px;
    color: rgb(54, 54, 54);
}
.parts{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 23px;
}
/* End section three */
/* section four */
.section-4{
    width: 100%;
    height: 365px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 58px;
}
.section-4 h2 {
    font-size: 35px;
}
.left-1 {
    margin-left: 52px;
}
.right-1 {
    margin-right: 30px;
}
/* End section-4 */
/* section five */
.section-5{
    width: 100%;
    height: 234px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}
.section-5 h2 {
    font-size: 33px;
}
.left-2 {
    margin-left: 125px;
    margin-top: 12px;
}
.left-2 h2 {
    font-size: 36px;
}
.comp {
    width: 234px;
    height: 134px;
    display: flex;
    margin-top: 45px;
    margin-right: 290px;
}
/* End section five */
/* section-6 */
.section-6{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.right-3 {
    margin-bottom: 43px;
    margin-top: 20px;
}
.right-3 h2 {
    font-size: 39px;
}
.left-3{
    margin-left: 72px;
    margin-top: 20px;
}
/* End style section-6 */
/* section-7 */
.section-7 {
    display: flex;
    width: 100%;
    height: 432;
    margin-top: 16px;
    background-color: #eee;
    justify-content: space-evenly;
}
.left-4 {
    margin-top: 31px;
    margin-left: 26px;
}

.right-4 {
    margin-top: 15px;
}
.buttom-photo i {
    color: #43A046;
    background-color: #eee;
    margin-left: 667px;
    margin-top: 10px;
}
.buttom-photo {
    display: flex;
    text-align: center;
    gap: 49px;
    margin-top: 17px;
}
/* End section-7 */

/* section-8 */
.section-8{
    margin-top: 15px;
    margin-bottom: 40px;
}
.top {
    text-align: center;
}
.top h1{
    font-size:  36px;
}
.main{
    margin-top: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    position: relative;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.card img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    width:242px;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    background: rgba(255,255,255,0.85);
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.25s ease;
}

.overlay h3 {
    margin: 0;
    font-size: 17px;
    line-height: 1.6;
    color: #333;
}

.overlay a {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: #2aa87a;
    font-weight: bold;
}

.card:hover .overlay,
.card:active .overlay {
    transform: translate(-50%, 14%); /* ينزل تحت شوية */
}
/* footer */
.footer_1 {
    background-color: #263238;
    margin: 0;
    width: 100%;
    color: white;
    font-family: "Inter", sans-serif;
    }

    h3 {
    font-weight: 600;
    }

    p,
    a,
    li {
    font-weight: 400;
    }

    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    a {
    color: white;
    text-decoration: none;
    }

    a:hover {
    text-decoration: underline;
    }.
    
    ul {
    display: flex;
    flex-direction: column;
    gap: 8.35px;
    }
    /* social-icons */
    .social-icons {
    display: flex;
    gap: 11.14px;
    }
    /* send_email */
    .send_email {
    display: flex;
    background-color: #263238 ;
    border-radius: 5.57px;
    overflow: hidden;
    }
    
    input {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5.57px;
    background-color: #89939E;
    }

    input::placeholder {
    font-size: 12px;
    color: #D9DBE1;
    opacity: 1;
    }

    .send_email input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    }

    .send_email button {
    background: #89939E;
    border: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .send_email button img {
    width: 16px;
    height: 16px;
    }
    .send_email {
    position: relative;
    width: 177.49771118164062px;
    max-width: 300px;
    display: flex;
    align-items: center;
    background-color: #89939E;
    border-radius: 5.57px;
    padding-right: 10px; 
}
.copy_right {
    color: white;
}

